@import './vars';

.btn {
    display: inline-flex;
    align-items: center;
    font-family: $main-ff;
    font-size: $main-fz;
    line-height: $main-lh;
    font-weight: 700;
    padding: 17px 23px;
    cursor: pointer;
    background-color: $white-color;
    color: $secondary-color;
    border: none;
    border-radius: 50px;
    transition: $trs;
    @include b(mobile-sm) {
        text-align: center;
        justify-content: center;
        width: 100%;
    }

    svg {
        width: 24px;
        margin-left: 8px;
    }

    &--colorful {
        background-color: $purple-color;
        color: $white-color;
        border: 1px solid $purple-color;

        &:hover {
            background-color: transparent;
            color: $purple-color;
        }
    }

    &--ghost {
        box-shadow: 0px 5px 5px rgba(75, 93, 104, .1);

        &:hover {
            box-shadow: none;
            background-color: rgba(75, 93, 104, .1);
        }
        & svg {
            color: $purple-color;
        }
    }
}