@import '../common/vars';

.footer {
    padding: 75px 0 91px;
    
    &__wrap {
        display: flex;
        justify-content: space-between;
        margin-bottom: 88px;
        @include b(mobile) {
            flex-direction: column;
            margin-bottom: 30px;
        }
    }

    &__info {
        width: 50%;
        @include b(mobile) {
            width: 100%;
            margin-bottom: 40px;
        }
    }

    &__inner {
        display: flex;
        align-items: center;
        margin-bottom: 65px;
        @include b(mobile) {
            margin-bottom: 40px;
        }
    }

    &__logo-box {
        margin-right: 20px;
    }

    &__caption {
        font-weight: 700;
        font-size: 20px;
        color: $secondary-color;
    }

    &__adress {
        font-size: 16px;
        line-height: 1.8;
        letter-spacing: .01em;
        color: $secondary-color;
        margin-bottom: 10px;
        max-width: 335px;
    }

    &__link {
        display: block;
        font-weight: 400;
        font-size: 16px;
        color: $secondary-color;
        letter-spacing: .01em;

        &:hover {
            color: $dots-colorr;
            text-shadow: 1px 2px 1px $shadow-color;
        }
    }

    &__body {
        width: 50%;
        display: flex;
        justify-content: space-between;
        @include b(mobile) {
            width: 100%;
        }
        @include b(mobile-sm) {
            flex-direction: column;
        }
    }

    &__col {
        width: 30%;
        @include b(mobile-sm) {
            width: 100%;
        }
    }

    &__title {
        font-weight: 700;
        font-size: 16px;
        color: $secondary-color;
        margin-bottom: 30px;
    }

    &__menu {
        @include b(mobile-sm) {
            display: flex;
            margin: 0 -10px 15px;
            flex-wrap: wrap;
        }
    }

    &__item {
        padding: 10px;
    }

    &__row {
        display: flex;
        align-items: center;
        @include b(tablet) {
            flex-direction: column;
            align-items: flex-start;
        }
        @include b(mobile-sm) {
            flex-direction: row;
        }
    }

    &__social {
        display: flex;
        align-items: center;
        justify-content: center;

        &-box {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50px;
            height: 50px;
            margin: 0 10px 15px 0;
            background-color: $secondary-color;
            border-radius: 50%;
            opacity: .1;
            transition: $trs;

            &:hover {
                background-color: $dots-colorr;
                opacity: 1;
            }
        }

        & svg {
            color: $white-color;
        }
    }

    &__outer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include b(mobile) {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__text {
        max-width: 360px;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.8;
        letter-spacing: .01em;
        color: $secondary-color;
        margin-bottom: 20px;
    }

    &__message-box {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: 60px;
        background-color: $purple-opacity;
        border-radius: 50%;
        transition: $trs;

        &:hover {
            background-color: $dots-colorr;
        }
    }
}