@import '../common/vars';

.footer {
    padding: 75px 0 91px;
    
    &__wrap {
        display: flex;
        justify-content: space-between;
        margin-bottom: 88px;
    }

    &__info {
        width: 50%;
    }

    &__inner {
        display: flex;
        align-items: center;
        margin-bottom: 65px;
    }

    &__logo-box {
        margin-right: 20px;
    }

    &__caption {
        font-weight: 700;
        font-size: 20px;
        color: $secondary-color;
    }

    &__adress {
        font-size: 16px;
        line-height: 1.8;
        letter-spacing: .01em;
        color: $secondary-color;
        margin-bottom: 10px;
        max-width: 335px;
    }

    &__link {
        display: block;
        font-weight: 400;
        font-size: 16px;
        color: $secondary-color;
        letter-spacing: .01em;

        &:hover {
            color: $dots-colorr;
            text-shadow: 1px 2px 1px $shadow-color;
        }
    }

    &__body {
        width: 50%;
        display: flex;
        justify-content: space-between;
    }

    &__col {
        width: 30%;
    }

    &__title {
        font-weight: 700;
        font-size: 16px;
        color: $secondary-color;
        margin-bottom: 30px;
    }

    &__item {
        padding: 10px 0;
    }

    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__social {
        display: flex;
        align-items: center;
        justify-content: center;

        &-box {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50px;
            height: 50px;
            background-color: $secondary-color;
            border-radius: 50%;
            opacity: .1;
            transition: $trs;

            &:hover {
                background-color: $dots-colorr;
                opacity: 1;
            }
        }

        & svg {
            color: $white-color;
        }
    }

    &__outer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__text {
        max-width: 360px;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.8;
        letter-spacing: .01em;
        color: $secondary-color;
    }

    &__message-box {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: 60px;
        background-color: $purple-opacity;
        border-radius: 50%;
        transition: $trs;

        &:hover {
            box-shadow: 4px 6px 4px $purple-opacity;
        }
    }
}