@import '../common/vars';

.hero {
    padding: 50px 0 100px;
    position: relative;
    
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(180deg, #F2F9FF 0%, rgba(242, 249, 255, 0.01) 100%);
        z-index: -1;
    }

    &__header {

        margin-bottom: 50px;

        &-wrap {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &-menu {
            display: flex;
            justify-content: space-between;
        }

        &-list-item {
            padding: 20px;
        }

        &-list-link {
            &:hover {
                color: $secondary-color;
                text-shadow: 1px 1px 1px currentColor;
            }
        }
    }
    
    &__body {

        &-wrap {
            display: flex;
        }

        &-info {
            width: 50%;
        }

        &-caption {
            max-width: 645px;
            margin-bottom: 50px;
            font-weight: 700;
            font-family: $secondary-ff;
            color: $secondary-color;
            font-size: 80px;
            line-height: 88px;
        }

        &-text {
            margin-bottom: 50px;
            max-width: 380px;
        }
    }

    &__img {
        width: 100%;

        &-box {
            position: absolute;
            left: 40%;
            bottom: -30px;
            max-width: 885px;
            z-index: -1;
        }
    }

}