@import '../common/vars';

.signup {
    padding: 75px 0;
    @include b(tablet) {
        padding: 30px 0;
    }

    &__body {
        border-top: 2px solid $purple-opacity;
        padding-top: 100px;
        @include b(tablet) {
            padding-top: 50px;
        }
    }

    &__wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include b(mobile) {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__col {

        @include b(mobile-sm) {
            width: 100%;
        }
    }

    &__title {
        font-weight: 700;
        font-size: 40px;
        color: $secondary-color;
        margin-bottom: 20px;
    }

    &__text {
        margin-bottom: 20px;
    }

    &__btns-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include b(mobile-sm) {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__item {
        @include b(mobile-sm) {
            width: 100%;
        }
    }

    &__btn {
        margin-right: 30px;
        background-color: $dots-colorr;
        border: 1px solid $dots-colorr;
        @include b(mobile-sm) {
            margin: 0 0 30px;
            // width: 100%;
        }

        &:hover {
            background-color: transparent;
            color: $dots-colorr;
        }
    }
}