@import '../common/vars';

.testimonials {
    padding: 75px 0;
    @include b(tablet) {
        padding: 30px 0;
    }

    &__body {
        padding: 100px 0 130px 93px;
        background-color: $purple-color;
        border-radius: 50px;
        @include b(tablet) {
            padding: 30px 0 30px 40px;
        }
        @include b(tablet) {
            padding: 50px 40px 70px;
        }

        &-wrap {

            & .slick-arrow {
                position: absolute;
                z-index: 10;
                top: 115%;
                font-size: 0;
                width: 48px;
                height: 25px;
                @include b(tablet) {
                    top: 107%;
                }
                @include b(mobile) {
                    top: 112%;
                }

                &.slick-prev {
                    left: 80%;
                    background: url(../images/testimonials/prev.svg) 0 0 no-repeat;
                    @include b(mobile) {
                        left: 0;
                    }

                    &::before {
                        font-size: 0;
                    }
                }

                &.slick-next {
                    left: 89%;
                    background: url(../images/testimonials/next.svg) 0 0 no-repeat;
                    @include b(mobile) {
                        left: 92%;
                    }
                    @include b(mobile-sm) {
                        left: 78%;
                    }


                    &::before {
                        font-size: 0;
                    }
                }
            }

            & .slick-dots {
                z-index: auto;
                text-align: left;
                bottom: -60px;
                @include b(tablet) {
                    bottom: -30px;
                }
                @include b(mobile) {
                    text-align: center;
                }
            }

            & .slick-dots li button:before {
                color: $white-color;
                opacity: 1;
                text-shadow: 2px 4px 3px $shadow-color;
            }

            & .slick-dots li.slick-active button:before {
                color: $dots-colorr;
                font-size: 12px;
            }
        } 
    }

    &__caption {
        color: $white-color;
        font-size: 40px;
        margin-bottom: 88px;
        @include b(tablet) {
            margin-bottom: 10px;
        }
        @include b(mobile-sm) {
           font-size: 30px;
        }
    }

    &__card {
        width: 645px;
        margin: 20px 20px 20px 0;
        padding: 60px 70px;
        background-color: $white-color;
        box-shadow: 0px 20px 0px $shadow-color;
        border-radius: 20px;
        border: 1px solid $purple-color;

        &.slick-active {
            box-shadow: 0px 20px 0px $shadow-color-active;
        }

        &-wrap {
            display: flex;
            justify-content: space-between;
            @include b(mobile) {
                flex-direction: column;
             }
        }
    }

    &__col {
        
        &-info {
            width: 75%;
            padding-top: 15px;
        }
    }

    &__title {
        color: $secondary-color;
        font-size: $main-fz;
        font-weight: 700;
        line-height: 1.6;
        letter-spacing: .005em;
    }

    &__link {
        display: inline-block;
        font-size: 14px;
        letter-spacing: .01em;
        color: $purple-color;
        margin-bottom: 19px;
    }
}