@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Medium.woff2") format("woff2"), url("../fonts/OpenSans-Medium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  min-height: 100%;
}

body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.6;
  font-weight: 500;
  color: #4B5D68;
  margin: 0;
  min-width: 320px;
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
  margin: 0;
}

ul, ol, nav {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: currentColor;
  transition: all 0.3s;
}

.container {
  max-width: 1165px;
  padding: 0 24px;
  margin: 0 auto;
}

.caption {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.02em;
}

.btn {
  display: inline-flex;
  align-items: center;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.6;
  font-weight: 700;
  padding: 17px 23px;
  cursor: pointer;
  background-color: #FFFFFF;
  color: #212353;
  border: none;
  border-radius: 50px;
  transition: all 0.3s;
}
.btn svg {
  width: 24px;
  margin-left: 8px;
}
.btn--colorful {
  background-color: #9C69E2;
  color: #FFFFFF;
  border: 1px solid #9C69E2;
}
.btn--colorful:hover {
  background-color: transparent;
  color: #9C69E2;
}
.btn--ghost {
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
}
.btn--ghost:hover {
  box-shadow: none;
  background-color: rgba(75, 93, 104, 0.1);
}
.btn--ghost svg {
  color: #9C69E2;
}

.hero {
  padding: 50px 0 100px;
  position: relative;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg, #F2F9FF 0%, rgba(242, 249, 255, 0.01) 100%);
  z-index: -1;
}
.hero__header {
  margin-bottom: 50px;
}
.hero__header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero__header-menu {
  display: flex;
  justify-content: space-between;
}
.hero__header-list-item {
  padding: 20px;
}
.hero__header-list-link:hover {
  color: #212353;
  text-shadow: 1px 1px 1px currentColor;
}
.hero__body-wrap {
  display: flex;
}
.hero__body-info {
  width: 50%;
}
.hero__body-caption {
  max-width: 645px;
  margin-bottom: 50px;
  font-weight: 700;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  color: #212353;
  font-size: 80px;
  line-height: 88px;
}
.hero__body-text {
  margin-bottom: 50px;
  max-width: 380px;
}
.hero__img {
  width: 100%;
}
.hero__img-box {
  position: absolute;
  left: 40%;
  bottom: -30px;
  max-width: 885px;
  z-index: -1;
}

.about {
  padding: 100px 0 75px;
}
.about__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(240, 99, 184, 0.15);
  border-radius: 50px;
}
.about__col {
  width: 48%;
}
.about__img {
  width: 100%;
}
.about__body-caption {
  max-width: 475px;
  margin-bottom: 40px;
  font-size: 40px;
  line-height: 1.3;
  color: #212353;
}
.about__body-text {
  max-width: 475px;
}

.features {
  padding: 75px 0;
}
.features__caption {
  text-align: center;
  font-size: 40px;
  color: #212353;
  margin-bottom: 50px;
}
.features__text {
  text-align: center;
  margin-bottom: 70px;
}
.features__wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 -15px;
}
.features__col {
  width: 50%;
  padding: 0 15px;
  margin-bottom: 50px;
  position: relative;
}
.features__col-data, .features__col-access, .features__col-print, .features__col-security {
  position: absolute;
  top: -7px;
  right: 0;
  height: 115%;
  z-index: -1;
}
.features__col-data {
  top: -43px;
}
.features__col-security {
  top: -16px;
}
.features__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 -20px;
}
.features__box {
  width: 48%;
  padding: 0 20px;
}
.features__img {
  width: 100%;
}
.features__body-title {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #212353;
  margin-bottom: 20px;
}
.features__body-text {
  font-size: 16px;
  margin-bottom: 20px;
  max-width: 220px;
}
.features__body-link {
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  color: #212353;
  margin-bottom: 20px;
}
.features__body-arrow {
  margin-left: 20px;
  width: 20px;
  height: 14px;
  color: #9C69E2;
}

.testimonials {
  padding: 75px 0;
}
.testimonials__body {
  padding: 100px 0 130px 93px;
  background-color: #9C69E2;
  border-radius: 50px;
}
.testimonials__body-wrap .slick-arrow {
  position: absolute;
  z-index: 10;
  top: 115%;
  font-size: 0;
  width: 48px;
  height: 25px;
}
.testimonials__body-wrap .slick-arrow.slick-prev {
  left: 80%;
  background: url(../images/testimonials/prev.svg) 0 0 no-repeat;
}
.testimonials__body-wrap .slick-arrow.slick-prev::before {
  font-size: 0;
}
.testimonials__body-wrap .slick-arrow.slick-next {
  right: 93px;
  background: url(../images/testimonials/next.svg) 0 0 no-repeat;
}
.testimonials__body-wrap .slick-arrow.slick-next::before {
  font-size: 0;
}
.testimonials__body-wrap .slick-dots {
  z-index: auto;
  text-align: left;
  bottom: -60px;
}
.testimonials__body-wrap .slick-dots li button:before {
  color: #FFFFFF;
  opacity: 1;
  text-shadow: 2px 4px 3px #2123532b;
}
.testimonials__body-wrap .slick-dots li.slick-active button:before {
  color: #F063B8;
  font-size: 12px;
}
.testimonials__caption {
  color: #FFFFFF;
  font-size: 40px;
  margin-bottom: 88px;
}
.testimonials__card {
  width: 645px;
  margin: 20px 20px 20px 0;
  padding: 60px 70px;
  background-color: #FFFFFF;
  box-shadow: 0px 20px 0px #2123532b;
  border-radius: 20px;
  border: 1px solid #9C69E2;
}
.testimonials__card.slick-active {
  box-shadow: 0px 20px 0px #21235369;
}
.testimonials__card-wrap {
  display: flex;
  justify-content: space-between;
}
.testimonials__col-info {
  width: 75%;
  padding-top: 15px;
}
.testimonials__title {
  color: #212353;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.6;
  letter-spacing: 0.005em;
}
.testimonials__link {
  display: inline-block;
  font-size: 14px;
  letter-spacing: 0.01em;
  color: #9C69E2;
  margin-bottom: 19px;
}

.signup {
  padding: 75px 0;
}
.signup__body {
  border-top: 2px solid rgba(156, 105, 226, 0.2);
  padding-top: 100px;
}
.signup__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.signup__title {
  font-weight: 700;
  font-size: 40px;
  color: #212353;
  margin-bottom: 20px;
}
.signup__text {
  margin-bottom: 20px;
}
.signup__btns-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.signup__btn {
  margin-right: 30px;
  background-color: #F063B8;
  border: 1px solid #F063B8;
}
.signup__btn:hover {
  background-color: transparent;
  color: #F063B8;
}

.footer {
  padding: 75px 0 91px;
}
.footer__wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 88px;
}
.footer__info {
  width: 50%;
}
.footer__inner {
  display: flex;
  align-items: center;
  margin-bottom: 65px;
}
.footer__logo-box {
  margin-right: 20px;
}
.footer__caption {
  font-weight: 700;
  font-size: 20px;
  color: #212353;
}
.footer__adress {
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.01em;
  color: #212353;
  margin-bottom: 10px;
  max-width: 335px;
}
.footer__link {
  display: block;
  font-weight: 400;
  font-size: 16px;
  color: #212353;
  letter-spacing: 0.01em;
}
.footer__link:hover {
  color: #F063B8;
  text-shadow: 1px 2px 1px #2123532b;
}
.footer__body {
  width: 50%;
  display: flex;
  justify-content: space-between;
}
.footer__col {
  width: 30%;
}
.footer__title {
  font-weight: 700;
  font-size: 16px;
  color: #212353;
  margin-bottom: 30px;
}
.footer__item {
  padding: 10px 0;
}
.footer__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__social {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__social-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: #212353;
  border-radius: 50%;
  opacity: 0.1;
  transition: all 0.3s;
}
.footer__social-box:hover {
  background-color: #F063B8;
  opacity: 1;
}
.footer__social svg {
  color: #FFFFFF;
}
.footer__outer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__text {
  max-width: 360px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.8;
  letter-spacing: 0.01em;
  color: #212353;
}
.footer__message-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  background-color: rgba(156, 105, 226, 0.2);
  border-radius: 50%;
  transition: all 0.3s;
}
.footer__message-box:hover {
  box-shadow: 4px 6px 4px rgba(156, 105, 226, 0.2);
}

/*# sourceMappingURL=style.css.map */
